@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0clMkleK7AdQs6xZvNP6tkAGqCyoJp7kj_Q&s" class="image-bckgrn" />
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
