@model LarreaPaul_ExamenP1.Models.PLarrea

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PLarrea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idNombre" />
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celular" class="control-label"></label>
                <input asp-for="celular" class="form-control" />
                <span asp-validation-for="celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iq" class="control-label"></label>
                <input asp-for="iq" class="form-control" />
                <span asp-validation-for="iq" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="casado" /> @Html.DisplayNameFor(model => model.casado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaCumple" class="control-label"></label>
                <input asp-for="FechaCumple" class="form-control" />
                <span asp-validation-for="FechaCumple" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
